.switch {
  all: unset;
  position: fixed;
  bottom: 32px;
  right: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
  border-radius: 50%;
  border: 1px dashed currentColor;
  cursor: pointer;
  --size: 18px;
  height: var(--size);
  width: var(--size);
  z-index: 50;
  transition: all 0.3s ease-in-out !important;
}

[data-mode="system"] .switch::after {
  content: "A";
  position: absolute;
  font-weight: 600;
  font-size: calc(var(--size) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-mode="light"] .switch {
  background-color: var(--color-amber-300);
  border: 1px solid var(--color-amber-400);
  box-shadow: 0 0 20px 6px var(--color-amber-300);
}

.rays {
  position: absolute;
  top: -13.5px;
  left: -13.5px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

[data-mode="light"] .rays {
  opacity: 1;
}

[data-mode="dark"] .switch {
  box-shadow: calc(var(--size) / 4) calc(var(--size) / -4) calc(var(--size) / 8) inset var(--color-white);
  border: none;
  background: transparent;
  animation: spin linear 0.5s;
}

@keyframes spin {
  40% { transform: rotate(-15deg); }
  80% { transform: rotate(10deg); }
  0%, 100% { transform: rotate(0deg); }
}
